@font-face {
    font-family: 'Jabaja';
    src: url('../font/BNK48JABAJA-Normal.ttf');
}

@font-face {
    font-family: 'ArialRound';
    src: url('../font/ARLRDBD.TTF');
}

@keyframes show {
    0% {
        transform: rotateZ(45deg);
        width: 0%;
    }

    80% {
        width: 100%;
    }

    100% {
        transform: rotateZ(0deg);
        width: 90%;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Jabaja', 'ArialRound', Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 223, 223);
}

header {
    text-align: center;
    background-color: rgb(224, 136, 136);
    color: white;
    padding: 1em 1.2em;
}

h1 {
    text-transform: uppercase;
}

header input {
    margin-top: 1em;
    margin-bottom: 0.7em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    color: rgb(42, 22, 44);
    background-color: white;
}

header input[type="text"] {
    width: 61px;
}

header input[type="button"]:hover {
    cursor: pointer;
    background-color: rgb(225, 225, 225);
}

.bnkPhotoSet {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 1em;
    background-color: white;
    animation: show 0.3s ease-out;
}

#flexible {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

#flexible .column {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}